<!-- QGDS Partial: inpage-nav -->

<div class="qld-inpage-nav {{classes}}">

    <h2 class="nav-title">{{navtitle}}</h2>

    <ul class="nav">
        {{#each navitems}}
        <li class="nav-item">
            <a class="nav-link" href="#{{linkid}}" target="{{target}}">{{linktext}}</a>
        </li>
        {{/each}}
    </ul>

</div>